body {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: lightgray;
}
.container {
  background-color: white;
}

.header {
  padding-top: 32px;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.textarea-container {
  border: 1px dashed lightgray;
  border-radius: 2.5%;
  padding: 16px;
  position: relative;
  max-width: 600px;
  margin: 32px auto;
}

.textarea-container .title {
  position: absolute;
  top: -12px;
  left: 16px;
  background-color: white;
  padding: 0 8px;
}

.textarea-container textarea {
  margin: 0 auto;
  width: 100%;
  border: none;
  height: 90px;
}

.bookmaker {
  margin-bottom: 32px;
  border: 1px dashed lightgray;
  padding: 16px;
  border-radius: 2.5%;
}

.bookmaker-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.bookmaker-text {
  margin: 16px 0;
}

.bookmaker-text {

}

.bookmaker-tweet-button {
  margin-top: 32px;
}
