<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>TweetABet - request odds on your bet from multiple bookmakers</title>
  <meta name="description" content="Quickly request odds on your bet from multiple bookmakers including William Hill, Paddy Power, Sky Bet and Ladbrokes. Request your bet.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--  <link rel="manifest" href="site.webmanifest">-->
  <link rel="manifest" href="/manifest.json">
  <script>
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js');
      }
  </script>

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->


  <meta name="theme-color" content="#fafafa">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/main.js"></script>
  <script src="https://vuejs.org/js/vue.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151944356-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151944356-1');
  </script>
</head>

<body>

<div class="container">
  <h1 class="header">TweetABet</h1>
  <div id="app">
    <div class="textarea-container">
      <span class="title">Your Request</span>
      <textarea v-model="text" placeholder="Type your request here..."></textarea>
    </div>
    <div class="row bookmakers">
      <div class="col-md-6 col-lg-4" v-for="bookmaker in bookmakers">
        <div class="bookmaker">
          <a v-bind:href="bookmaker.website" class="bookmaker-name">{{ bookmaker.name }}</a>
          <div class="bookmaker-text">
            {{ bookmaker.handle }} {{ text }} <span v-if="bookmaker.hashtag">#{{ bookmaker.hashtag }}</span>
          </div>
          <a target="_blank" class="btn btn-primary btn-block bookmaker-tweet-button"
             v-bind:href="'https://twitter.com/intent/tweet?text=' + encodeURI(bookmaker.handle + ' ' + text) + '&hashtags=' + bookmaker.hashtag">
            Tweet {{ bookmaker.handle }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header">Questions? Suggestions?</div>
          <div class="card-body">
            Email <a href="mailto:danabrey@gmail.com">danabrey@gmail.com</a> or find me on Twitter <a href="https://www.twitter.com/danabrey">@danabrey</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="js/main.js"></script>
</body>

</html>
